
<html>
    <head>
        <meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    </head>

    <div class="jumbotron text-center">
        <h1>UW ENG ORIENTATION TEAM SORTER</h1>
    </div>
    <div class="jumbotron text-center">
		<h6 class=text-center>Download Results Below</h6>
		<h6 class=text-center>Note: datetime stamp is in UTC format. </h6>
    </div>
    
    <body>
		<div class="container mt-3">
			<form method=post enctype=multipart/form-data>
				<div class="d-flex justify-content-center"></div>
					<div class="mt-3">
						<button type="submit" name="download_button" value="result" class="btn btn-primary btn-lg btn-block">Download Results</button>
					</div>
				</div>
            </form>
		</div>
		<div class="container mt-3">
			<form method=post enctype=multipart/form-data>
				<div class="d-flex justify-content-center"></div>
					<div class="mt-3">
						<button type="submit" name="download_button" value="summary" class="btn btn-primary btn-lg btn-block">Download Summary</button>
					</div>
				</div>
            </form>
		</div>
		
    </body>        
</html>