
div.transbox {
	margin: 30px;
	background-color: #E0E0E0;
	border: 1px solid #E0E0E0;
	opacity: 1.0;
	filter: alpha(opacity=60); /* For IE8 and earlier */
}

div.transbox p {
	margin: 3%;
	color: black;
}	

div.first_year {
	position: fixed;
	text-align: center-left;
	left: 300px;
}

div.leader{
	position:fixed;
	text-align: right;
	right: 300px;
}

p {color: black}