
<html>
    <head>
	<link rel="stylesheet" href="styles.css">
	
    
		
	</head>
	
	<center>
		<h1><font face="century gothic thin">Orientation Colour Sorting Tool</font></h1>
	</center>

    <body>
		<div class="transbox">
			<p><font face="century gothic thin">Use this page to upload your first year and leader csv files. Drag and drop your two files into the respective drop boxes below.</font></p>
		</div>
		<div class ="first_year">
			<h3><font face="century gothic thin" Color="#202020">First Year Data (CSV)</font></h3>
		</div>
		<div class ="leader">
			<h3><font face="century gothic thin" Color="#202020">Leader Data (CSV)</font></h3>
		</div>
    </body>
</html>