/*formats box for description to go in, sets margins and background colour*/
div.description {
	margin: 30px;
	background-color: #E0E0E0;
	border: solid #E0E0E0;
}
/*formats text in box, sets margin and colour*/
div.description p {
	margin: 3%;
	color: black;
}	
/*creates box for first year title, positions text in blank container*/
div.first_year {
	position: fixed;
	text-align: left;
	left: 10%;
}
/*creates box for leader title, positions text in blank container*/
div.leader{
	position:fixed;
	text-align: right;
	right: 10%;
}
/*formats paragraph text*/
p {
	color: black;
	font-family:century gothic thin;
}
/*formats header for title*/
h1{
	font-family:century gothic thin;
}
/*formats titles for first year and leader*/
h3{
	font-family:century gothic thin;
	color: #202020;
}